<h1>Advertisements#index</h1>
<% @advertisements.each do |specific_advertisement| %>
  <div class = "media">
    <div class = "media-body">
      <h4 class = "media-heading"> 
        <%= link_to specific_advertisement.title, specific_advertisement%>
      </h4>
    </div>
  </div>
<% end %>
